.hero {
  height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  top: 25vh;
  position: relative;
}

.name {
  font-size: 10rem;
  font-family: "Geist Mono", monospace;
  font-weight: 700;
}
